.section-one--background {
    background-image: linear-gradient(to right rgba($primary-green, 0.85), rgba($primary-green, 0.85)), url('./assets/background-party.png');
    padding: 1px;
}   

.section-one--specifics {
    min-height: calc(100vh - 100px);

    h1 {
    @include font-size-value(70);
    }

    h2 {
        @include font-size-value(30); 
    }
}

.section-one--main-wording {
    @include font-size-value(25);
    max-width: 900px;
    margin: 55px auto 60px;
    padding: 0 10px;
}

.section-one--main-wording .section-one--middle-p {
    margin: 20px 0;
    font-weight: 600;
    font-style: italic;
}

.section-one--button {
    border: 1px solid $primary-purple;
    background: $primary-purple;
        &:hover,
        &:focus {
            color: $primary-yellow;
            animation-duration: 0.4s; 
            animation-name: swing; 
        }
        &:active {
        box-shadow: 1px 1px 5px 0 #000000;
    }
}

.made-by-katie {
    @include font-size-value(15); 
    color: $primary-color;
    font-family: $paragraph-text;
    font-weight: 600;
    transition: $transitionThree;
    
        &:hover,
        &:focus {
            font-style: italic;
        }
    }

// media queries

@media (max-width: 822px) {
    .section-one--specifics {
    min-height: calc(100vh - 120px);
    
    h1 {
        @include font-size-value(55);
    }
    h2 {
         @include font-size-value(30);
    }
     p {
        @include font-size-value(23);
    }
    .section-one--main-wording {
         margin: 30px auto 40px;
    }

}

    .section-one--background footer {
        justify-content: center;
        margin-top: 20px;
    }
}


@media (max-width: 695px) {
    .section-one--specifics {
        //  max-width: 550px;
    h1 {
        @include font-size-value(45);
    }
    h2 {
        @include font-size-value(28);
    }
     p {
        @include font-size-value(20);
    }
    // .section-one--main-wording {
    //     max-width: 550px;
    // }
 }
}

// @media (max-width: 550px) {
//     .section-one--specifics, .section-two--specifics, .footer-stick-to-bottom--wrapper {
//         max-width: 400px;
//         margin: 0 auto;
//     }
// }

// @media (max-width: 400px) {
//     .section-one--specifics, .section-two--specifics, .footer-stick-to-bottom--wrapper {
//         max-width: 350px;
//         margin: 0 auto;
//     }
// }