.section-three--dis {
    display:none;
}

.section-three--background {
    background-image: linear-gradient(to right,rgba($primary-yellow, 0.8), rgba($primary-yellow, 0.8)), url('./assets/background-party.png');
    padding: 1px;

    footer {
        display: flex;
        justify-content: flex-start;

        p {
            font-weight: 600;
            @include font-size-value(15);
        }

        img {
            position: relative;
            top: 5px;
        }
    }

}

.section-three--specifics {
    display: flex;
    min-height: calc(100vh - 110px);

    h1 {
        @include font-size-value(60)
    }

    h2 {
        @include font-size-value(25)
    }

    h3 {
    @include font-size-value(30);
    }   

    header {
        margin-bottom: 10px;
    }
}

.section-three--results {
    display: flex;
    justify-content: space-around;
    margin: 60px 0 5px;
}

.section-three--boxes-for-results {
    min-height: 250px;
    padding: 15px;

}

.lcbo-result {
    img {
        height: 130px;
        text-align: center;
        justify-content: center;
        margin: 3px;
    }
    h4 {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

.lcbo-photo--background {
    background: $primary-white;
    border-radius: 50%;
    height: 145px;
    max-width: 150px;
    overflow: hidden;
    text-align: center;
    margin: 20px auto;
}

.nyt-result {
    max-width: 850px;

    .final-results--paragraphs {
        @include font-size-value(23);
        font-weight: 600;
        margin-top: 35px;
        line-height: 30px;
    }
}

.nytbyline {
    @include font-size-value(15);
    font-style: italic;
}

 .final-results--paragraphs {
        @include font-size-value(20);
        font-family: $paragraph-text;
}

.results--background, .lcbo-result {
    a, h3 {
        transition: $transitionThree;   
    }
    a:hover,
    a:focus {
        color: $primary-green;
    }
    h3:hover,
    h3:focus {
        color: $primary-green;
    }
}

.section-three--buttons {
    display: flex;
    justify-content: center;
}

.another-please--button, .section-three--anchor{
    border: none;
    background: $primary-green;
    color: $primary-color;
    text-align: center;
      &:hover,
      &:focus {
        animation-duration: 0.4s; 
        animation-name: swing; 
        color: $primary-purple;
      }
        &:active {
            box-shadow: 1px 1px 5px 0 #000000;
        }   
}

.another-please--button {
    margin-right: 10px;
}

.ending-header {
    p {
        @include font-size-value(18);
        font-weight: 600;
    }
    margin-bottom: 15px;
}

// media queries

@media (max-width: 780px) {
    .section-three--background {
        h1 {
            @include font-size-value(50);
        }
        h2 {
             @include font-size-value(20);
        }

        footer {
            text-align: center;
        }
    }

    .section-three--results {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .nyt-result {
        padding-bottom: 20px;
        border-bottom: 1px solid $primary-color;
    }

    .lcbo-result {
        padding-top: 20px;
    }

    .section-three--buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-three--buttons button:first-of-type {
        margin-bottom: 10px;
    }
}