.section-two--dis {
    display:none;
}

.section-two--background {
    background-image: linear-gradient(to right,rgba($primary-purple, 0.85), rgba($primary-purple, 0.85)), url('../images/background-party.png');
}

.section-two--section--text  {
    margin-top: 1vh;
}
// forms

form {
    max-width: 750px;
    margin: 0 auto;
}

.section-two--specifics {
    input, label {
        color: $primary-color;
        @include font-size-value(20);
        font-family: $paragraph-text;
        background: $primary-yellow;
        font-weight: 600;
        border: none;
        padding: 15px;
        margin: 1vh 0.5vh;
        display: inline-block;
        &:hover {
            background: $primary-green;
        }
        &:active {
            box-shadow: 1px 1px 5px 0 #000000;
            top: 4px;
            left: 4px;
        }
    }
}

input[type="radio"]{
    display: none;
}

.selected {
  background: $primary-green;
}

.section-two--specifics input[type="radio"]:checked + label {
  background: $primary-green;
}

h3 {
    @include font-size-value(45);
    font-family: $header-text;
    letter-spacing: 1.7px;
}

// submit button
.section-two--button {
    background: $primary-yellow;
    margin-top: 3.5vh;
    &:hover {
        animation-duration: 0.4s; 
        animation-name: swing; 
        color: $primary-green;
    }
    &:active {
    box-shadow: 1px 1px 5px 0 #000000;
    top: 4px;
    left: 4px;
    } 
}   

.making-space {
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}

// media queries

@media (max-width: 830px) {
    .section-two--specifics {
    h3 {
        @include font-size-value(30);
        }  
    }   
    .section-two--button {
        margin-bottom: 30px;
    } 
}