.section-one--background {
    background-image: linear-gradient(to right rgba($primary-green, 0.85), rgba($primary-green, 0.85)), url('../images/background-party.png');
}   

nav {
    display: flex;
    justify-content: flex-end;
    @include font-size-value(18);
}

nav a {
    margin-top: 35px;
    transition: 0.3s;
    &:hover {
        color: $primary-purple;
    }
}

.fa-facebook {
    margin-right: 10px;
}

.social-margin--right {
    margin-right: 8px;
}

.section-one--specifics {
    margin-top: 20px;
    margin-bottom: 35px;
}

h1 {
    @include font-size-value(70);
    margin-bottom: 0;
    font-family: $header-text;
    margin-top: 7vh;
    letter-spacing: 2.5px;
}

h2 {
    @include font-size-value(30); 
    margin-top: 0;
    font-family: $paragraph-text;
    letter-spacing: 1.5px;
}

.section-one--main-wording {
    @include font-size-value(25);
    border-radius: 5px;
    max-width: 780px;
    margin: 5vh auto;
    color: $primary-color; 
    font-family: $paragraph-text;
    p {
        margin: 0;
        font-weight: 400;
        font-family: $paragraph-text;
        line-height: 32px;
    }
}

.section-one--main-wording .section-one--middle-p {
    margin: 25px 0;
    font-weight: 600;
    font-style: italic;
}

.section-one--button {
    border: 1px solid $primary-purple;
    background: $primary-purple;
    margin-top: 2vh;
    margin-bottom: 20px;
    &:hover {
        color: $primary-yellow;
    }
    &:active {
    box-shadow: 1px 1px 5px 0 #000000;
    top: 4px;
    left: 4px;
    }
}

.stick-to-bottom--anchor {
    display: block;
    margin-bottom: 20px;
}

.made-by-katie {
    @include font-size-value(15); 
    color: $primary-color;
    font-family: $paragraph-text;
    font-weight: 600;
    transition: 1s;
    &:hover {
        @include font-size-value(18);
    }
}

.section-one--footer-stick {
    min-height: calc(100vh - 100px);
}

// media queries

@media (max-width: 1130px) {
    .stick-to-bottom--anchor {
        margin-left: 20px;
    }
    h1 {
        margin-top: 0vh;
    }
}

@media (max-width: 822px) {
    .section-one--specifics {
        max-width: 700px;
    h1 {
        @include font-size-value(55);
        margin-top: 3vh;
    }
    h2 {
         @include font-size-value(30);
    }
     p {
        @include font-size-value(23);
    }
    .section-one--main-wording {
        max-width: 550px;
    }
 }
}

@media (max-width: 695px) {
    .section-one--specifics {
         max-width: 550px;
    h1 {
        @include font-size-value(45);
        margin-top: 2vh;
    }
    h2 {
        @include font-size-value(28);
    }
     p {
        @include font-size-value(20);
    }
    .section-one--main-wording {
        max-width: 550px;
    }
 }
}

@media (max-width: 550px) {
    .section-one--specifics, .section-two--specifics, .footer-stick-to-bottom--wrapper {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .section-one--specifics, .section-two--specifics, .footer-stick-to-bottom--wrapper {
        max-width: 350px;
        margin: 0 auto;
    }
}