article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper--max {
  max-width: 2500px;
  margin: 0 auto; }

.wrapper--inner {
  max-width: 1500px;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

.section--text-centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

button, label, input {
  border-radius: 5px; }

a {
  text-decoration: none; }

p {
  color: #221e1e;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 32px; }

a, p, h1, h2, h3 {
  color: #221e1e; }

h1 {
  font-family: "Fredoka One", cursive;
  letter-spacing: 2.5px;
  margin-bottom: 5px; }

h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.5px; }

h1, h2, h3 {
  text-align: center; }

.matching-anchors--style, .another-please--button {
  font-size: 25px;
  font-size: 2.5rem;
  border-radius: 5px;
  padding: 15px;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase; }

.shaking-for-buttons:hover,
.shaking-for-buttons:focus {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: swing;
          animation-name: swing; }

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  40% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg); }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes swing {
  20% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  40% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg); }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

nav, footer {
  padding: 15px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 20px;
  font-size: 2rem; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    nav a:hover, nav a:focus {
      color: #e6748d; }
  nav .fa.fa-twitter {
    margin-right: 15px; }

.section-one--background {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 191, 191, 0.85))), url("./assets/background-party.png");
  background-image: linear-gradient(to right rgba(102, 191, 191, 0.85), rgba(102, 191, 191, 0.85)), url("./assets/background-party.png");
  padding: 1px; }

.section-one--specifics {
  min-height: calc(100vh - 100px); }
  .section-one--specifics h1 {
    font-size: 70px;
    font-size: 7rem; }
  .section-one--specifics h2 {
    font-size: 30px;
    font-size: 3rem; }

.section-one--main-wording {
  font-size: 25px;
  font-size: 2.5rem;
  max-width: 900px;
  margin: 55px auto 60px; }

.section-one--main-wording .section-one--middle-p {
  margin: 20px 0;
  font-weight: 600;
  font-style: italic; }

.section-one--button {
  border: 1px solid #e6748d;
  background: #e6748d; }
  .section-one--button:hover, .section-one--button:focus {
    color: #eaf6f6;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-name: swing;
            animation-name: swing; }
  .section-one--button:active {
    -webkit-box-shadow: 1px 1px 5px 0 #000000;
            box-shadow: 1px 1px 5px 0 #000000; }

.made-by-katie {
  font-size: 15px;
  font-size: 1.5rem;
  color: #221e1e;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .made-by-katie:hover, .made-by-katie:focus {
    color: #fcfefe; }

@media (max-width: 822px) {
  .section-one--specifics {
    max-width: 700px; }
    .section-one--specifics h1 {
      font-size: 55px;
      font-size: 5.5rem; }
    .section-one--specifics h2 {
      font-size: 30px;
      font-size: 3rem; }
    .section-one--specifics p {
      font-size: 23px;
      font-size: 2.3rem; }
    .section-one--specifics .section-one--main-wording {
      max-width: 700px; }
  .made-by-katie {
    font-size: 10px;
    font-size: 1rem; } }

@media (max-width: 695px) {
  .section-one--specifics {
    max-width: 550px; }
    .section-one--specifics h1 {
      font-size: 45px;
      font-size: 4.5rem; }
    .section-one--specifics h2 {
      font-size: 28px;
      font-size: 2.8rem; }
    .section-one--specifics p {
      font-size: 20px;
      font-size: 2rem; }
    .section-one--specifics .section-one--main-wording {
      max-width: 550px; } }

.section-two--dis {
  display: none; }

.section-two--background {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(230, 116, 141, 0.85)), to(rgba(230, 116, 141, 0.85))), url("./assets/background-party.png");
  background-image: linear-gradient(to right, rgba(230, 116, 141, 0.85), rgba(230, 116, 141, 0.85)), url("./assets/background-party.png");
  padding: 1px; }

.section-two--specifics {
  min-height: 100vh; }
  .section-two--specifics h1 {
    font-size: 45px;
    font-size: 4.5rem; }
  .section-two--specifics > div {
    margin: 35px 0; }
  .section-two--specifics form {
    margin: 20px auto 0;
    max-width: 750px; }
  .section-two--specifics input, .section-two--specifics label {
    color: #221e1e;
    font-size: 20px;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    background: #eaf6f6;
    font-weight: 600;
    border: none;
    padding: 15px;
    margin: 1vh 0.5vh;
    display: inline-block; }
    .section-two--specifics input:hover, .section-two--specifics input:focus, .section-two--specifics label:hover, .section-two--specifics label:focus {
      background: #66bfbf; }
    .section-two--specifics input:active, .section-two--specifics label:active {
      -webkit-box-shadow: 1px 1px 5px 0 #000000;
              box-shadow: 1px 1px 5px 0 #000000;
      top: 4px;
      left: 4px; }

input[type="radio"] {
  display: none; }

.selected {
  background: #66bfbf; }

.section-two--specifics input[type="radio"]:checked + label {
  background: #66bfbf; }

.section-two--button {
  background: #eaf6f6; }
  .section-two--button:hover, .section-two--button:focus {
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-name: swing;
            animation-name: swing;
    color: #66bfbf; }
  .section-two--button:active {
    -webkit-box-shadow: 1px 1px 5px 0 #000000;
            box-shadow: 1px 1px 5px 0 #000000; }

@media (max-width: 830px) {
  .section-two--specifics h3 {
    font-size: 30px;
    font-size: 3rem; } }

.section-three--dis {
  display: none; }

.section-three--background {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(234, 246, 246, 0.8)), to(rgba(234, 246, 246, 0.8))), url("./assets/background-party.png");
  background-image: linear-gradient(to right, rgba(234, 246, 246, 0.8), rgba(234, 246, 246, 0.8)), url("./assets/background-party.png");
  padding: 1px;
  min-height: 100vh; }

.section-three--specifics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.section--three-headers {
  margin-top: 1vh;
  margin-bottom: 2vh; }

.section-three--background h1 {
  font-size: 60px;
  font-size: 6rem; }

.section-three--background h2 {
  font-size: 25px;
  font-size: 2.5rem; }

h4 {
  font-size: 30px;
  font-size: 3rem; }

.section-three--boxes-for-results {
  min-height: 250px;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 1vh; }

.section-three--boxes-for-results-left {
  max-width: 860px;
  margin-right: 6%; }

.lcbo-result img {
  height: 130px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px; }

.lcbo-result h4 {
  margin-top: 40px;
  margin-bottom: 10px; }

.lcbo-photo--background {
  background: #fcfefe;
  border-radius: 50%;
  height: 145px;
  max-width: 150px;
  overflow: hidden;
  text-align: center;
  margin: 20px auto; }

.nyt-result {
  padding-left: 20px;
  padding-right: 20px; }
  .nyt-result h4 {
    margin-bottom: 10px; }
  .nyt-result .final-results--paragraphs {
    font-size: 23px;
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 35px;
    line-height: 30px; }

.nytbyline {
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 20px;
  font-style: italic; }

.final-results--paragraphs {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  margin-top: 0; }

.results--background a, .results--background h4, .lcbo-result a, .lcbo-result h4 {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.results--background a:hover, .lcbo-result a:hover {
  color: #66bfbf; }

.results--background h4:hover, .lcbo-result h4:hover {
  color: #66bfbf; }

.section-three--bottom, .section-three--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.another-please--button, .section-three--anchor {
  border: none;
  background: #66bfbf;
  color: #221e1e;
  text-align: center;
  margin-bottom: 1vh; }
  .another-please--button:hover, .section-three--anchor:hover {
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-name: swing;
            animation-name: swing;
    color: #e6748d; }
  .another-please--button:active, .section-three--anchor:active {
    -webkit-box-shadow: 1px 1px 5px 0 #000000;
            box-shadow: 1px 1px 5px 0 #000000;
    top: 4px;
    left: 4px; }

.another-please--button {
  margin-right: 10px; }

.ending-header h3 {
  font-size: 30px;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 2vh; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  footer p {
    display: inline-block;
    margin: 0; }
  footer img {
    position: relative;
    top: 5px; }

@media (max-width: 780px) {
  .section-three--background h1 {
    font-size: 50px;
    font-size: 5rem; }
  .section-three--background h2 {
    font-size: 20px;
    font-size: 2rem; }
  .section-three--specifics {
    max-width: 700px; } }

@media (max-width: 630px) {
  .section-three--background h1 {
    font-size: 50px;
    font-size: 5rem; }
  .section-three--background h2 {
    font-size: 20px;
    font-size: 2rem; }
  .section-three--socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .section-three--specifics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section-three--boxes-for-results-left, .section-three--boxes-for-results {
    margin: 0;
    padding: 0; }
  .nyt-result {
    min-height: 150px; }
  .nyt-result, .lcbo-result {
    margin-top: 0;
    padding: 5px; }
  footer img {
    width: 15%; } }

@media (max-width: 540px) {
  .section-three--background h3 {
    font-size: 20px;
    font-size: 2rem; }
  .another-please--button, .section-three--anchor {
    width: 50%; } }

@media (max-width: 540px) {
  .section-three--anchor {
    padding-top: 30px; } }

@media (max-width: 400px) {
  .section-three--anchor {
    padding-top: 20px; } }
